{% extends 'myblog/base.html' %}
{% load static %}
{% block content %}

    <!-- about us start -->
    <div class="container" id="aboutus">
        <div class="row mt-5">
          <div class="col-md-4">
            <h1 class="text-center">
              <i class="fas fa-users fa-3x"></i>
            </h1>
            <h2 class="text-dark text-center font-weight-bold">Best Faculty Member</h2>
            <p class="text-center">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vitae voluptatem et alias, excepturi, asperiores mollitia deserunt sit blanditiis totam temporibus quam necessitatibus exercitationem, repellat ex atque nihil. Porro, nobis!
            </p>
          </div>
      
      
          <div class="col-md-4">
            <h1 class="text-center">
              <i class="fas fa-code fa-3x"></i>
            </h1>
            <h2 class="text-dark text-center font-weight-bold">Best Coding Skill</h2>
            <p class="text-center">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vitae voluptatem et alias, excepturi, asperiores mollitia deserunt sit blanditiis totam temporibus quam necessitatibus exercitationem, repellat ex atque nihil. Porro, nobis!
            </p>
          </div>
      
          <div class="col-md-4">
            <h1 class="text-center">
              <i class="fas fa-book fa-3x"></i>
            </h1>
            <h2 class="text-dark text-center font-weight-bold">Best Course Material</h2>
            <p class="text-center">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vitae voluptatem et alias, excepturi, asperiores mollitia deserunt sit blanditiis totam temporibus quam necessitatibus exercitationem, repellat ex atque nihil. Porro, nobis!
            </p>
          </div>
          </div>
        </div>
           <div class="container-fluid bg-dark text-light py-5">
            <h1 class="text-center">We Provide Articles for Computer science </h1>
            <h1 class="text-center">(Ecole Polytechnique de THIES)</h1>
            <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat nihil nobis eius provident, consequatur consectetur excepturi tempora consequuntur deserunt quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ducimus consequuntur accusamus reprehenderit. Quia ducimus, consequuntur reiciendis mollitia dicta explicabo.
            </p>
          </div>
          <!-- about us ends -->
          <!-- service start -->
            <div class="container-fluid mt-3" id="services">
              <h3 class="text-dark text-center font-weight-bold"> find the articles
            </h3>
              <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, iusto.
              </p>

<!-- image gallary -->
<div class="container" >
    <div class="row mt-3">
        <!--starting of the  line-->
        <div class="col-md-4">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image" src="{% static 'IMAGES/iot.jpg' %}" alt="" class="w-100 img-thumbnail" height="300px">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Internet of Things</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> EPT</p>
                    </div>
                    <p class="text-center">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vitae voluptatem et alias, excepturi, asperiores mollitia deserunt sit blanditiis totam temporibus quam necessitatibus exercitationem, repellat ex atque nihil. Porro, nobis!
                    </p>
                </a> </div>
                
        </div>
      
        <div class="col-md-4">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image" src="{% static 'IMAGES/cyber.jpg'  %}" alt="" class="w-100 img-thumbnail" height="300px">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Cybersecurity</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> EPT</p>
                    </div>
                    <p>Ne vous êtes-vous jamais posé la question à savoir : et si j’avais un jumeau, en quoi ma vie serait-elle différente aujourd’hui ? 
                      Je soumets la réponse à cette question à votre imagination[...]
                      </p>
                </a> </div>
        </div>

        <div class="col-md-4">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image" src="{% static 'IMAGES/market.jpg' %}" alt="" class="w-100 img-thumbnail" height="300px">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Digital Marketing</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> EPT</p>
                    </div>
                    <p>Ne vous êtes-vous jamais posé la question à savoir : et si j’avais un jumeau, en quoi ma vie serait-elle différente aujourd’hui ? 
                      Je soumets la réponse à cette question à votre imagination[...]
                      </p>
                </a> </div>
        </div>
      <!-- end of line-->
   </div>
   <div class="row mt-3">
    <div class="col-md-4">
        <div class="content"> <a href="#">
                <div class="content-overlay"></div> <img class="content-image" src="{% static 'IMAGES/twin.jpg' %}" alt="" class="w-100 img-thumbnail" height="300px">
                <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Digital Twin</h3>
                    <p class="content-text"><i class="fa fa-map-marker"></i> EPT</p>
                </div>
                <p>Ne vous êtes-vous jamais posé la question à savoir : et si j’avais un jumeau, en quoi ma vie serait-elle différente aujourd’hui ? 
                  Je soumets la réponse à cette question à votre imagination[...]
                  </p>
            </a> </div>
    </div>  
 

<div class="col-md-4">
    <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image" src="{% static 'IMAGES/cloud.png' %}" alt="" class="w-100 img-thumbnail" height="300px">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">Cloud Computing</h3>
                <p class="content-text"><i class="fa fa-map-marker"></i> EPT</p>
            </div>
            <p>Ne vous êtes-vous jamais posé la question à savoir : et si j’avais un jumeau, en quoi ma vie serait-elle différente aujourd’hui ? 
              Je soumets la réponse à cette question à votre imagination[...]
              </p>
        </a> </div>
</div>

<div class="col-md-4">
    <div class="content"> <a href="#">
            <div class="content-overlay"></div> <img class="content-image" src="{% static 'IMAGES/ai.jpg' %}" alt="" class="w-100 img-thumbnail" height="300px">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">Digital Twin</h3>
                <p class="content-text"><i class="fa fa-map-marker"></i> EPT</p>
            </div>
            <p>Ne vous êtes-vous jamais posé la question à savoir : et si j’avais un jumeau, en quoi ma vie serait-elle différente aujourd’hui ? 
              Je soumets la réponse à cette question à votre imagination[...]
              </p>
        </a> </div>
</div>

</div>
        <!-- end of line-->
    
    <div class="row mt-3">
        <!--starting of the  line-->
        <div class="col-md-4">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image" src="{% static 'IMAGES/confi.jpg' %}" alt="" class="w-100 img-thumbnail" height="300px">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Self Confidence</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> EPT</p>
                    </div>
                    <p>Ne vous êtes-vous jamais posé la question à savoir : et si j’avais un jumeau, en quoi ma vie serait-elle différente aujourd’hui ? 
                      Je soumets la réponse à cette question à votre imagination[...]
                      </p>
                </a> </div>
        </div>
        <div class="col-md-4">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image" src="{% static 'IMAGES/ux.jpg' %}" alt="" class="w-100 img-thumbnail" height="300px">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">UX DESIGN</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> EPT</p>
                    </div>
                    <p>Ne vous êtes-vous jamais posé la question à savoir : et si j’avais un jumeau, en quoi ma vie serait-elle différente aujourd’hui ? 
                      Je soumets la réponse à cette question à votre imagination[...]
                      </p>
                </a> </div>
        </div>
        <div class="col-md-4">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image" src="{% static 'IMAGES/bitcoin.jpg' %}" alt="" class="w-100 img-thumbnail" height="300px">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">BLOCKCHAIN</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> EPT</p>
                    </div>
                    <p>Ne vous êtes-vous jamais posé la question à savoir : et si j’avais un jumeau, en quoi ma vie serait-elle différente aujourd’hui ? 
                      Je soumets la réponse à cette question à votre imagination[...]
                      </p>
                </a> </div>
        </div>
     
       <!-- end of line-->
   </div>

  </div>
</div>

{% endblock %}